In [ ]:
import pandas as pd

In [3]:
df=pd.read_csv("smsspamcollection.csv",sep="\t",names=["Label","Message"])

In [4]:
df.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.tail()

     Label                                            Message
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [14]:
# Data Cleaning and Preprocessing
import re 
import nltk 
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [15]:
lemmatizer=WordNetLemmatizer()

In [16]:
corpus=[]
for i in range(len(df)):
    review=re.sub(pattern='[^a-zA-Z]',repl=' ',string=df["Message"][i])
    review=review.lower()
    review=review.split()
    #Applying Stemming
    review=[lemmatizer.lemmatize(word) for word in review if word not in stopwords.words("english")]
    review=" ".join(review)
    corpus.append(review)

In [18]:
#corpus

In [19]:
# implementing TF-IDF using sklearn
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
tf_idf=TfidfVectorizer(max_features=100)
X=tf_idf.fit_transform(corpus).toarray()

In [25]:
#To see the whole matrix 
import numpy as np 
import sys 
np.set_printoptions(threshold=sys.maxsize)
#X

In [29]:
# Lets see the vocabulary
#tf_idf.vocabulary_

In [35]:
#TF-IDF using n grams
tf_idf=TfidfVectorizer(ngram_range=(2,2))
X=tf_idf.fit_transform(corpus).toarray()

In [36]:
import numpy as np 
import sys 
np.set_printoptions(threshold=sys.maxsize)
#tf_idf.vocabulary_

In [ ]:
# To avoid these many features(29887) use maxfeatures to get some top most features
X.shape

(5572, 29887)